In [1]:
import numpy as np
import pandas as pd

## Import data

In [2]:
hos_rate_age_sex_df = pd.read_csv("scenario_b_data/Hospital Admission Rate by Age and Sex.csv")
hos_rate_age_sex_df

     year      facility_type_a     sex              age   rate
0    2009                Acute    Male       0-14 Years  100.1
1    2009                Acute    Male      15-64 years   62.7
2    2009                Acute    Male  65 years & over  323.0
3    2009                Acute  Female       0-14 Years   84.9
4    2009                Acute  Female      15-64 years   73.5
..    ...                  ...     ...              ...    ...
211  2020  Community Hospitals    Male      15-64 years    1.4
212  2020  Community Hospitals    Male  65 years & over   22.8
213  2020  Community Hospitals  Female       0-14 Years    0.0
214  2020  Community Hospitals  Female      15-64 years    1.0
215  2020  Community Hospitals  Female  65 years & over   22.5

[216 rows x 5 columns]

In [3]:
hos_rate_sex_df = pd.read_csv("scenario_b_data/Hospital Admission Rate by Sex.csv")
hos_rate_sex_df

    year        facility_type_a     sex   rate
0   2009                  Acute    Male   90.2
1   2009                  Acute  Female   96.4
2   2009  Psychiatric Hospitals    Male    2.7
3   2009  Psychiatric Hospitals  Female    1.6
4   2009    Community Hospitals    Male    1.5
..   ...                    ...     ...    ...
67  2020                  Acute  Female  116.3
68  2020  Psychiatric Hospitals    Male    2.3
69  2020  Psychiatric Hospitals  Female    1.4
70  2020    Community Hospitals    Male    4.3
71  2020    Community Hospitals  Female    4.3

[72 rows x 4 columns]

In [9]:
population_sheets = pd.read_excel("scenario_b_data/respopagesextod2000to2020e.xlsx", sheet_name=None, skiprows=2)
population_sheets.keys()

dict_keys(['2020(Total)', '2020(Male)', '2020(Female)', '2011-2019(Total)', '2011-2019(Male)', '2011-2019(Female)', '2001-2010(Total)', '2001-2010(Male)', '2001-2010(Female)', '2000(Total)', '2000(Male)', '2000(Female)'])

In [5]:
birth_fertility_df = pd.read_csv("scenario_b_data/M810091-table.csv", skiprows=9, nrows=17)
birth_fertility_df

,Data Series,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Total Fertility Rate (Per Female),0.97,1.04,1.12,1.10,1.14,1.14,1.16,1.20,1.24,...,3.22,3.53,3.91,4.46,4.66,4.97,5.16,5.21,5.41,5.76
1,15 - 19 Years (Per Thousand Females),2.20,2.10,2.20,2.30,2.50,2.50,2.60,2.70,2.70,...,27.1,30.9,35.8,33,35.9,38.3,45.7,52,63.4,69.6
2,20 - 24 Years (Per Thousand Females),10.60,11.20,11.70,12.70,12.70,14.40,15.10,17.00,18.70,...,150.1,165.8,195.8,218.5,227.1,240,249,245.5,241.1,250.5
3,25 - 29 Years (Per Thousand Females),43.70,48.80,53.40,54.60,59.40,60.60,62.20,65.80,68.70,...,227.8,236.6,244.7,261.2,259.5,277.6,287.2,291.7,304.9,323.9
4,30 - 34 Years (Per Thousand Females),78.70,86.70,92.90,90.80,92.40,92.90,93.30,96.20,98.50,...,134.3,152,166.7,202,216.2,226.7,228.7,231.5,238.4,259.7
5,35 - 39 Years (Per Thousand Females),47.90,49.40,53.60,49.00,50.10,48.40,48.60,49.70,49.90,...,75.2,85.2,95.9,124.8,138.1,147.7,156.1,156.2,168.9,176.7
6,40 - 44 Years (Per Thousand Females),9.60,9.80,10.20,9.50,9.90,8.80,9.00,8.80,8.90,...,29.4,35.3,42.9,51.7,54.9,62.8,64.9,65.1,64.8,70.7
7,45 - 49 Years (Per Thousand Females),0.60,0.40,0.30,0.50,0.40,0.50,0.50,0.30,0.40,...,na,na,na,na,na,na,na,na,na,na
8,Chinese (Per Female),0.81,0.87,0.96,0.94,0.99,0.98,1.01,1.07,1.10,...,3.05,3.29,3.59,4.08,4.31,4.6,4.83,4.92,5.2,5.62
9,Malays (Per Female),1.65,1.83,1.82,1.82,1.80,1.85,1.82,1.80,1.79,...,3.78,4.52,5.29,6.14,6.31,6.78,6.75,6.63,6.42,6.42
10,Indians (Per Female),0.95,1.01,1.05,0.96,0.98,1.00,1.00,1.04,1.15,...,4.58,4.77,5.62,6.61,6.69,7.06,6.9,6.96,6.96,7.37
11,Gross Reproduction Rate (Per Female),0.46,0.50,0.54,0.53,0.56,0.56,0.56,0.58,0.60,...,1.56,1.72,1.91,2.17,2.27,2.42,2.51,2.53,2.63,2.78
12,Net Reproduction Rate (Per Female),0.46,0.50,0.54,0.53,0.56,0.55,0.56,0.58,0.60,...,1.43,1.58,1.75,1.97,2.08,2.22,2.3,2.31,2.41,2.54
13,Crude Birth Rate (Per Thousand Residents),7.40,7.90,8.60,8.50,8.80,8.80,8.90,9.40,9.70,...,21.8,23.5,25.6,28.3,29.5,31.6,33.2,33.7,35.2,37.5
14,Total Live-Births (Number),33541.00,35605.00,38672.00,38590.00,39279.00,39039.00,39615.00,41251.00,42185.00,...,44562,47241,50560,54680,55725,58217,59530,58977,59930,61775
15,Resident Live-Births (Number),30518.00,32290.00,34183.00,34233.00,35330.00,35040.00,35444.00,36875.00,37861.00,...,na,na,na,na,na,na,na,na,na,na
16,Citizen Live-Births (Number),28877.00,30429.00,31713.00,31816.00,32844.00,32413.00,32356.00,33167.00,33725.00,...,na,na,na,na,na,na,na,na,na,na

In [8]:
death_life_df = pd.read_csv("scenario_b_data/M810481.csv", skiprows=9, nrows=13)
death_life_df

,Data Series,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Crude Death Rate (Per Thousand Residents ),6.2,6.3,5.8,5.2,5.0,5.0,5.0,4.8,4.8,...,5,5.5,5.3,5.4,5.4,5.7,5.6,5.8,5.9,6.2
1,Infant Mortality Rate (Per Thousand Resident L...,2.2,1.8,1.8,1.8,1.7,2.1,2.2,2.4,1.7,...,20.9,23.4,24.8,25.8,26.3,29.9,28.1,31.2,32.3,34.9
2,Infant Mortality Rate - Males (Per Thousand Re...,1.9,1.9,1.6,2.1,1.8,2.3,2.0,2.3,2.2,...,23.3,25.5,27.2,28.3,30.5,33.6,32.5,36.3,35.7,37.9
3,Infant Mortality Rate - Females (Per Thousand ...,2.6,1.6,1.9,1.4,1.6,1.9,2.4,2.5,1.2,...,18.2,21,22.1,23.1,21.8,25.8,23.5,25.9,28.7,31.7
4,Neonatal Mortality Rate (Per Thousand Resident...,1.1,1.1,1.1,0.8,0.6,1.3,1.2,1.4,0.8,...,14.5,15.9,16.7,16.6,17.9,19.6,18.4,19.1,17.7,17.7
5,Perinatal Mortality Rate (Per Thousand Live-Bi...,5.2,3.9,2.9,2.7,2.5,3.2,3.4,3.0,2.8,...,21.7,23.2,24.4,24.6,25.5,26.1,26.4,26.7,26.2,27.9
6,Maternal Mortality Ratio (Per Hundred Thousand...,3.0,2.8,2.6,0.0,2.5,10.2,0.0,4.8,7.1,...,38.1,40.2,31.6,49.4,39.5,41.2,35.3,39,40,45.3
7,Under-5 Mortality Rate (Per Thousand Resident ...,2.5,2.3,2.2,2.1,2.3,2.6,2.8,2.7,2.6,...,na,na,na,na,34.6,na,na,na,na,45.9
8,Under-5 Mortality Rate - Males (Per Thousand R...,2.5,2.3,2.3,2.2,2.5,2.6,2.8,2.9,2.9,...,na,na,na,na,38.2,na,na,na,na,49.5
9,Under-5 Mortality Rate - Females (Per Thousand...,2.4,2.4,2.0,2.0,2.1,2.6,2.8,2.5,2.3,...,na,na,na,na,30.7,na,na,na,na,41.9
10,Age-Standardised Death Rate (Per Thousand Resi...,5.6,5.9,5.6,5.2,5.3,5.5,5.6,5.6,5.8,...,16.4,17.9,17.8,17.5,17.7,17.6,17.7,17.6,17.5,17.9
11,Total Deaths (Number),26888.0,26891.0,24292.0,22054.0,21446.0,21282.0,20905.0,20017.0,19862.0,...,10224,10982,10523,10444,10263,10434,10138,10178,10027,10210
12,Resident Deaths (Number),25567.0,25586.0,23270.0,20985.0,20288.0,20095.0,19763.0,18856.0,18640.0,...,na,na,na,na,na,na,na,na,na,na